mysqldump : mysqldump: [Warning] Using a password on the command line interface can be insecure.
At line:1 char:1
+ mysqldump -u root -p"0a0b0c0D." --no-data --skip-add-drop-table --ski ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `account_type` enum('SAVINGS','SHARES','CONTRIBUTIONS','BENEVOLENT_FUND','DEVELOPMENT_FUND','SCHOOL_FEES','HOLIDAY_FUND','EMERGENCY_FUND') COLLATE utf8mb4_general_ci DEFAULT 'SAVINGS',
  `balance` decimal(15,2) DEFAULT '0.00',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `frozen_savings` decimal(19,2) NOT NULL DEFAULT '0.00' COMMENT 'Amount of savings frozen for self-guarantee loans. Cannot be withdrawn until loan is repaid.',
  PRIMARY KEY (`id`),
  KEY `member_id` (`member_id`),
  CONSTRAINT `accounts_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=952 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `action` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `entity_type` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `entity_id` bigint DEFAULT NULL,
  `old_value` text COLLATE utf8mb4_general_ci,
  `new_value` text COLLATE utf8mb4_general_ci,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ip_address` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `comments` longtext COLLATE utf8mb4_general_ci,
  `error_message` longtext COLLATE utf8mb4_general_ci,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'SUCCESS',
  `user_agent` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `username` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `entity_details` text COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id`),
  KEY `idx_action` (`action`),
  KEY `idx_entity_type` (`entity_type`),
  KEY `idx_entity_id` (`entity_id`),
  KEY `idx_timestamp` (`timestamp`),
  KEY `idx_user_id_action` (`user_id`,`action`),
  KEY `idx_entity_type_entity_id_action` (`entity_type`,`entity_id`,`action`),
  KEY `idx_audit_logs_user` (`user_id`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=456 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batch_deletion_audit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `batch_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `batch_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deleted_by_user_id` bigint NOT NULL,
  `deleted_by_username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deleted_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `reason` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rollback_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'COMPLETED',
  `loans_deleted` int DEFAULT '0',
  `guarantors_released` int DEFAULT '0',
  `transactions_reversed` int DEFAULT '0',
  `accounts_adjusted` int DEFAULT '0',
  `error_message` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_deleted_by` (`deleted_by_user_id`),
  KEY `idx_deleted_at` (`deleted_at`),
  CONSTRAINT `fk_deletion_audit_user` FOREIGN KEY (`deleted_by_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulk_batches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_number` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `batch_type` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `total_records` int NOT NULL,
  `successful_records` int DEFAULT '0',
  `failed_records` int DEFAULT '0',
  `total_amount` decimal(15,2) NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `uploaded_by` bigint NOT NULL,
  `uploaded_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `approved_by` bigint DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `processed_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `batch_number` (`batch_number`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_bulk_batches_status` (`status`),
  KEY `idx_bulk_batches_uploaded_by` (`uploaded_by`),
  KEY `idx_bulk_batches_batch_number` (`batch_number`),
  CONSTRAINT `bulk_batches_ibfk_1` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`),
  CONSTRAINT `bulk_batches_ibfk_2` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulk_disbursement_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `item_row_number` int DEFAULT NULL,
  `loan_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `loan_id` bigint DEFAULT NULL,
  `disbursement_amount` decimal(19,2) DEFAULT NULL,
  `disbursement_account` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `error_message` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `processed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_loan_id` (`loan_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `bulk_disbursement_items_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `bulk_batches` (`id`),
  CONSTRAINT `bulk_disbursement_items_ibfk_2` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulk_loan_data_update_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `item_row_number` int DEFAULT NULL,
  `employee_id` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loan_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loan_status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `disbursement_date` date DEFAULT NULL,
  `interest_rate` decimal(10,2) DEFAULT NULL,
  `outstanding_balance` decimal(15,2) DEFAULT NULL,
  `purpose` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'PENDING',
  `error_message` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `processed_at` datetime DEFAULT NULL,
  `loan_id` bigint DEFAULT NULL,
  `member_id` bigint DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_batch_id` (`batch_id`),
  KEY `idx_status` (`status`),
  KEY `idx_loan_id` (`loan_id`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_row_number` (`item_row_number`),
  KEY `idx_batch_status` (`batch_id`,`status`),
  KEY `idx_employee_loan` (`employee_id`,`loan_number`),
  CONSTRAINT `fk_bulk_loan_data_update_batch` FOREIGN KEY (`batch_id`) REFERENCES `bulk_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_bulk_loan_data_update_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`),
  CONSTRAINT `fk_bulk_loan_data_update_member` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulk_loan_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `item_row_number` int NOT NULL,
  `member_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `loan_product_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `amount` decimal(15,2) DEFAULT NULL,
  `purpose` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor1` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor2` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `member_id` bigint DEFAULT NULL,
  `loan_id` bigint DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `error_message` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `processed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `total_interest` decimal(19,2) DEFAULT NULL,
  `total_repayable` decimal(19,2) DEFAULT NULL,
  `monthly_repayment` decimal(19,2) DEFAULT NULL,
  `guarantor1_eligibility_status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor2_eligibility_status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `term_months` int DEFAULT NULL,
  `guarantor3` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor3_eligibility_status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `member_id` (`member_id`),
  KEY `loan_id` (`loan_id`),
  KEY `idx_bulk_loan_items_batch` (`batch_id`),
  CONSTRAINT `bulk_loan_items_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `bulk_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bulk_loan_items_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `bulk_loan_items_ibfk_3` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulk_member_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `item_row_number` int NOT NULL,
  `first_name` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `last_name` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `phone` varchar(15) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `national_id` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `department` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `member_id` bigint DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `error_message` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `processed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `employer` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `bank` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `bank_account` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `next_of_kin` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nok_phone` varchar(15) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nok_relationship` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `bank_branch` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `date_joined` date DEFAULT NULL,
  `opening_shares_balance` decimal(15,2) DEFAULT NULL,
  `opening_savings_balance` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `member_id` (`member_id`),
  KEY `idx_bulk_member_items_batch` (`batch_id`),
  CONSTRAINT `bulk_member_items_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `bulk_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bulk_member_items_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=623 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulk_transaction_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `item_row_number` int NOT NULL,
  `member_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `member_id` bigint DEFAULT NULL,
  `savings_amount` decimal(15,2) DEFAULT '0.00',
  `shares_amount` decimal(15,2) DEFAULT '0.00',
  `loan_repayment_amount` decimal(15,2) DEFAULT '0.00',
  `loan_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `loan_id` bigint DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `error_message` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `savings_transaction_id` bigint DEFAULT NULL,
  `shares_transaction_id` bigint DEFAULT NULL,
  `loan_repayment_id` bigint DEFAULT NULL,
  `processed_at` timestamp NULL DEFAULT NULL,
  `loan_repayment_payment_method` varchar(20) COLLATE utf8mb4_general_ci DEFAULT 'SALARY_DEDUCTION' COMMENT 'Payment method for loan repayment (SALARY_DEDUCTION, CASH, MPESA, BANK_TRANSFER, CHEQUE, OTHER)',
  `loan_repayment_reference_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Reference number for loan repayment (payroll ref, cheque number, mpesa receipt, etc.)',
  `benevolent_fund_amount` decimal(15,2) DEFAULT '0.00',
  `development_fund_amount` decimal(15,2) DEFAULT '0.00',
  `school_fees_amount` decimal(15,2) DEFAULT '0.00',
  `holiday_fund_amount` decimal(15,2) DEFAULT '0.00',
  `emergency_fund_amount` decimal(15,2) DEFAULT '0.00',
  `loan_repayment_principal_amount` decimal(15,2) DEFAULT '0.00',
  `loan_repayment_interest_amount` decimal(15,2) DEFAULT '0.00',
  `benevolent_fund_transaction_id` bigint DEFAULT NULL,
  `development_fund_transaction_id` bigint DEFAULT NULL,
  `school_fees_transaction_id` bigint DEFAULT NULL,
  `holiday_fund_transaction_id` bigint DEFAULT NULL,
  `emergency_fund_transaction_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `loan_id` (`loan_id`),
  KEY `savings_transaction_id` (`savings_transaction_id`),
  KEY `shares_transaction_id` (`shares_transaction_id`),
  KEY `loan_repayment_id` (`loan_repayment_id`),
  KEY `idx_bulk_transaction_items_batch_id` (`batch_id`),
  KEY `idx_bulk_transaction_items_status` (`status`),
  KEY `idx_bulk_transaction_items_member_id` (`member_id`),
  KEY `idx_bulk_transaction_items_payment_method` (`loan_repayment_payment_method`),
  KEY `fk_benevolent_fund_transaction` (`benevolent_fund_transaction_id`),
  KEY `fk_development_fund_transaction` (`development_fund_transaction_id`),
  KEY `fk_school_fees_transaction` (`school_fees_transaction_id`),
  KEY `fk_holiday_fund_transaction` (`holiday_fund_transaction_id`),
  KEY `fk_emergency_fund_transaction` (`emergency_fund_transaction_id`),
  CONSTRAINT `bulk_transaction_items_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `bulk_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bulk_transaction_items_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `bulk_transaction_items_ibfk_3` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`),
  CONSTRAINT `bulk_transaction_items_ibfk_4` FOREIGN KEY (`savings_transaction_id`) REFERENCES `transactions` (`id`),
  CONSTRAINT `bulk_transaction_items_ibfk_5` FOREIGN KEY (`shares_transaction_id`) REFERENCES `transactions` (`id`),
  CONSTRAINT `bulk_transaction_items_ibfk_6` FOREIGN KEY (`loan_repayment_id`) REFERENCES `loan_repayments` (`id`),
  CONSTRAINT `fk_benevolent_fund_transaction` FOREIGN KEY (`benevolent_fund_transaction_id`) REFERENCES `transactions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_development_fund_transaction` FOREIGN KEY (`development_fund_transaction_id`) REFERENCES `transactions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_emergency_fund_transaction` FOREIGN KEY (`emergency_fund_transaction_id`) REFERENCES `transactions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_holiday_fund_transaction` FOREIGN KEY (`holiday_fund_transaction_id`) REFERENCES `transactions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_school_fees_transaction` FOREIGN KEY (`school_fees_transaction_id`) REFERENCES `transactions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_item_status` CHECK ((`status` in (_utf8mb4'PENDING',_utf8mb4'SUCCESS',_utf8mb4'FAILED',_utf8mb4'SKIPPED')))
) ENGINE=InnoDB AUTO_INCREMENT=2338 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deposit_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `account_id` bigint NOT NULL,
  `claimed_amount` decimal(19,2) NOT NULL,
  `confirmed_amount` decimal(19,2) DEFAULT NULL,
  `description` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `receipt_file_path` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `receipt_file_name` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `approved_by_user_id` bigint DEFAULT NULL,
  `approval_notes` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `approved_at` datetime DEFAULT NULL,
  `rejected_at` datetime DEFAULT NULL,
  `teller_message` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `account_id` (`account_id`),
  KEY `approved_by_user_id` (`approved_by_user_id`),
  KEY `idx_status` (`status`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `deposit_requests_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `deposit_requests_ibfk_2` FOREIGN KEY (`account_id`) REFERENCES `accounts` (`id`),
  CONSTRAINT `deposit_requests_ibfk_3` FOREIGN KEY (`approved_by_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `description` varchar(200) COLLATE utf8mb4_general_ci NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `script` varchar(1000) COLLATE utf8mb4_general_ci NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fund_configurations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fund_type` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT '0',
  `display_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `minimum_amount` decimal(15,2) DEFAULT '0.00',
  `maximum_amount` decimal(15,2) DEFAULT '1000000.00',
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_by` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fund_type` (`fund_type`),
  KEY `updated_by` (`updated_by`),
  KEY `idx_fund_configurations_enabled` (`enabled`),
  KEY `idx_fund_configurations_display_order` (`display_order`),
  CONSTRAINT `fund_configurations_ibfk_1` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_account_audit` (
  `id` int NOT NULL AUTO_INCREMENT,
  `gl_account_id` int NOT NULL,
  `changed_by_user_id` int NOT NULL,
  `change_type` enum('CREATE','UPDATE','DELETE','ACTIVATE','DEACTIVATE') COLLATE utf8mb4_general_ci NOT NULL,
  `old_config` longtext COLLATE utf8mb4_general_ci,
  `new_config` longtext COLLATE utf8mb4_general_ci,
  `change_reason` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `changed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_account` (`gl_account_id`),
  KEY `idx_date` (`changed_at`),
  KEY `idx_changed_by` (`changed_by_user_id`),
  CONSTRAINT `gl_account_audit_ibfk_1` FOREIGN KEY (`gl_account_id`) REFERENCES `gl_accounts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_account_calculations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `gl_account_id` int NOT NULL,
  `calculation_name` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `calculation_type` enum('SUM_FIELD','CUSTOM_QUERY','LOOKUP','PERCENTAGE','CONDITIONAL') COLLATE utf8mb4_general_ci NOT NULL,
  `calculation_config` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `weight` decimal(5,2) DEFAULT '1.00',
  `operator` enum('+','-','*','/') COLLATE utf8mb4_general_ci DEFAULT '+',
  `sort_order` int DEFAULT '100',
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_gl_account` (`gl_account_id`),
  CONSTRAINT `gl_account_calculations_ibfk_1` FOREIGN KEY (`gl_account_id`) REFERENCES `gl_accounts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_accounts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `account_type` enum('ASSET','LIABILITY','EQUITY','REVENUE','EXPENSE') COLLATE utf8mb4_general_ci NOT NULL,
  `balance_calculation_type` enum('AGGREGATION','FORMULA','MANUAL_ENTRY','COMPUTED') COLLATE utf8mb4_general_ci NOT NULL,
  `calculation_config` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `display_order` int DEFAULT '100',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `normal_balance` enum('DEBIT','CREDIT') COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Which side this account normally appears on in reports',
  `section_label` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Display group heading (e.g., Cash and Cash Equivalents)',
  `period_sensitive` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'If true, manual entries filtered by period month/year, not cumulative',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_type` (`account_type`),
  KEY `idx_code` (`code`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_manual_entries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `gl_account_id` int NOT NULL,
  `entry_date` date NOT NULL,
  `description` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL,
  `is_debit` tinyint(1) DEFAULT NULL,
  `entry_reason` enum('ACCRUAL','ADJUSTMENT','ALLOCATION','RECLASSIFICATION') COLLATE utf8mb4_general_ci NOT NULL,
  `approval_status` enum('PENDING','APPROVED','REJECTED') COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  `created_by_user_id` int NOT NULL,
  `approved_by_user_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `approved_at` timestamp NULL DEFAULT NULL,
  `period_month` int DEFAULT NULL COMMENT 'Accounting period month (1-12)',
  `period_year` int DEFAULT NULL COMMENT 'Accounting period year (e.g., 2023)',
  `period_status` enum('DRAFT','POSTED','APPROVED','LOCKED') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'DRAFT' COMMENT 'Entry lifecycle status within a period',
  PRIMARY KEY (`id`),
  KEY `idx_date` (`entry_date`),
  KEY `idx_account` (`gl_account_id`),
  KEY `idx_status` (`approval_status`),
  KEY `idx_created_by` (`created_by_user_id`),
  KEY `idx_approved_by` (`approved_by_user_id`),
  CONSTRAINT `gl_manual_entries_ibfk_1` FOREIGN KEY (`gl_account_id`) REFERENCES `gl_accounts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guarantor_default_tracking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `guarantor_id` bigint NOT NULL,
  `loan_id` bigint NOT NULL,
  `default_amount` decimal(15,2) NOT NULL,
  `guarantor_share` decimal(15,2) NOT NULL,
  `debit_amount` decimal(15,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_guarantor_id` (`guarantor_id`),
  KEY `idx_loan_id` (`loan_id`),
  CONSTRAINT `guarantor_default_tracking_ibfk_1` FOREIGN KEY (`guarantor_id`) REFERENCES `guarantors` (`id`),
  CONSTRAINT `guarantor_default_tracking_ibfk_2` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guarantor_repayment_tracking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `guarantor_id` bigint NOT NULL,
  `loan_id` bigint NOT NULL,
  `repayment_amount` decimal(15,2) NOT NULL,
  `frozen_pledge_before` decimal(15,2) NOT NULL,
  `frozen_pledge_after` decimal(15,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_guarantor_id` (`guarantor_id`),
  KEY `idx_loan_id` (`loan_id`),
  CONSTRAINT `guarantor_repayment_tracking_ibfk_1` FOREIGN KEY (`guarantor_id`) REFERENCES `guarantors` (`id`),
  CONSTRAINT `guarantor_repayment_tracking_ibfk_2` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guarantors` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loan_id` bigint NOT NULL,
  `member_id` bigint NOT NULL,
  `status` enum('PENDING','ACCEPTED','REJECTED','REPLACED','ACTIVE','DECLINED','RELEASED','PENDING_REASSIGNMENT') COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  `pledge_amount` decimal(15,2) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `rejection_reason` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `guarantee_amount` decimal(15,2) DEFAULT NULL,
  `previous_guarantee_amount` decimal(19,2) DEFAULT NULL,
  `reassignment_reason` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `self_guarantee` tinyint(1) DEFAULT '0',
  `migration_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'ACTIVE' COMMENT 'ACTIVE or MIGRATED',
  `pledge_frozen_at_full_amount` tinyint(1) DEFAULT '0',
  `next_of_kin_guarantor_id` bigint DEFAULT NULL COMMENT 'Reference to the NOK guarantor for this primary guarantor',
  `is_next_of_kin` tinyint(1) DEFAULT '0' COMMENT 'True if this is a next of kin (backup) guarantor',
  `primary_guarantor_id` bigint DEFAULT NULL COMMENT 'Reference to the primary guarantor this NOK is backing',
  `replaced_at` datetime DEFAULT NULL COMMENT 'When this guarantor was replaced',
  `replaced_by_guarantor_id` bigint DEFAULT NULL COMMENT 'ID of guarantor who replaced this one',
  `replacement_reason` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Reason for replacement',
  PRIMARY KEY (`id`),
  KEY `idx_guarantor_status` (`status`),
  KEY `idx_guarantor_loan_status` (`loan_id`,`status`),
  KEY `idx_loan_id` (`loan_id`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_status` (`status`),
  KEY `idx_loan_member_status` (`loan_id`,`member_id`,`status`),
  KEY `idx_guarantor_migration_status` (`migration_status`),
  KEY `idx_guarantors_status` (`status`),
  KEY `idx_guarantors_rejection_reason` (`rejection_reason`),
  KEY `idx_guarantors_loan` (`loan_id`),
  KEY `idx_guarantors_loan_id` (`loan_id`),
  KEY `idx_guarantors_next_of_kin` (`next_of_kin_guarantor_id`),
  KEY `idx_guarantors_primary` (`primary_guarantor_id`),
  KEY `idx_guarantors_is_nok` (`is_next_of_kin`),
  KEY `idx_guarantors_replaced_at` (`replaced_at`),
  CONSTRAINT `fk_guarantor_next_of_kin` FOREIGN KEY (`next_of_kin_guarantor_id`) REFERENCES `guarantors` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_guarantor_primary` FOREIGN KEY (`primary_guarantor_id`) REFERENCES `guarantors` (`id`) ON DELETE CASCADE,
  CONSTRAINT `guarantors_ibfk_1` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`),
  CONSTRAINT `guarantors_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=977 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hr_loan_decisions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loan_id` bigint NOT NULL,
  `hr_user_id` bigint NOT NULL,
  `decision` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'APPROVED or REJECTED',
  `comment` text COLLATE utf8mb4_unicode_ci,
  `reason` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Mandatory for rejection',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_loan_id` (`loan_id`),
  KEY `idx_hr_user_id` (`hr_user_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `hr_loan_decisions_ibfk_1` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`),
  CONSTRAINT `hr_loan_decisions_ibfk_2` FOREIGN KEY (`hr_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kyc_document_audit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `kyc_document_id` bigint NOT NULL,
  `member_id` bigint NOT NULL,
  `action` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `performed_by` bigint NOT NULL,
  `old_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `new_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `details` text COLLATE utf8mb4_general_ci,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `kyc_document_id` (`kyc_document_id`),
  KEY `performed_by` (`performed_by`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_timestamp` (`timestamp`),
  CONSTRAINT `kyc_document_audit_ibfk_1` FOREIGN KEY (`kyc_document_id`) REFERENCES `kyc_documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kyc_document_audit_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kyc_document_audit_ibfk_3` FOREIGN KEY (`performed_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kyc_documents` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `document_type` enum('NATIONAL_ID','PASSPORT','PASSPORT_PHOTO','APPLICATION_LETTER','KRA_PIN_CERTIFICATE') COLLATE utf8mb4_general_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `file_path` varchar(500) COLLATE utf8mb4_general_ci NOT NULL,
  `file_size` bigint DEFAULT NULL,
  `mime_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `upload_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `uploaded_by` bigint NOT NULL,
  `verification_status` enum('PENDING','VERIFIED','REJECTED') COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  `verified_by` bigint DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_member_document_type` (`member_id`,`document_type`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_document_type` (`document_type`),
  KEY `idx_verification_status` (`verification_status`),
  KEY `idx_upload_date` (`upload_date`),
  CONSTRAINT `kyc_documents_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kyc_documents_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`),
  CONSTRAINT `kyc_documents_ibfk_3` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_eligibility_rules` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `min_member_savings` decimal(19,2) NOT NULL DEFAULT '10000.00',
  `min_member_shares` decimal(19,2) NOT NULL DEFAULT '5000.00',
  `min_savings_to_loan_ratio` decimal(5,2) NOT NULL DEFAULT '0.20',
  `max_outstanding_to_savings_ratio` decimal(5,2) NOT NULL DEFAULT '0.50',
  `max_active_loans` int NOT NULL DEFAULT '3',
  `min_guarantor_savings` decimal(19,2) NOT NULL DEFAULT '10000.00',
  `min_guarantor_shares` decimal(19,2) NOT NULL DEFAULT '5000.00',
  `min_guarantor_savings_to_loan_ratio` decimal(5,2) NOT NULL DEFAULT '0.50',
  `max_guarantor_outstanding_to_savings_ratio` decimal(5,2) NOT NULL DEFAULT '0.50',
  `max_guarantor_commitments` int NOT NULL DEFAULT '3',
  `allow_defaulters` tinyint(1) NOT NULL DEFAULT '0',
  `allow_exited_members` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `max_loan_term_months` int NOT NULL DEFAULT '72',
  `max_loan_to_savings_multiplier` decimal(5,2) NOT NULL DEFAULT '3.00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_migration_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `item_row_number` int NOT NULL,
  `employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `loan_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `loan_product_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `principal_amount` decimal(15,2) DEFAULT NULL,
  `term_months` int DEFAULT NULL,
  `interest_rate` decimal(5,2) DEFAULT NULL,
  `disbursement_date` date DEFAULT NULL,
  `loan_status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `outstanding_balance` decimal(15,2) DEFAULT NULL,
  `interest_collected` decimal(19,2) DEFAULT NULL,
  `guarantorship_type` varchar(10) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `purpose` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor1_employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor1_pledge_amount` decimal(15,2) DEFAULT NULL,
  `guarantor2_employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor2_pledge_amount` decimal(15,2) DEFAULT NULL,
  `guarantor3_employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor3_pledge_amount` decimal(15,2) DEFAULT NULL,
  `guarantor4_employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor4_pledge_amount` decimal(15,2) DEFAULT NULL,
  `guarantor5_employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor5_pledge_amount` decimal(15,2) DEFAULT NULL,
  `guarantor6_employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `guarantor6_pledge_amount` decimal(15,2) DEFAULT NULL,
  `total_interest` decimal(15,2) DEFAULT NULL,
  `total_repayable` decimal(15,2) DEFAULT NULL,
  `monthly_repayment` decimal(15,2) DEFAULT NULL,
  `loan_id` bigint DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `error_message` varchar(1000) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `processed_at` datetime DEFAULT NULL,
  `migration_mode` varchar(10) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `snapshot_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `batch_id` (`batch_id`),
  KEY `loan_id` (`loan_id`),
  KEY `fk_item_snapshot` (`snapshot_id`),
  CONSTRAINT `fk_item_snapshot` FOREIGN KEY (`snapshot_id`) REFERENCES `loan_migration_snapshots` (`id`) ON DELETE SET NULL,
  CONSTRAINT `loan_migration_items_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `bulk_batches` (`id`),
  CONSTRAINT `loan_migration_items_ibfk_2` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1948 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_migration_snapshots` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loan_id` bigint NOT NULL,
  `original_outstanding_balance` decimal(15,2) DEFAULT NULL,
  `original_term_months` int DEFAULT NULL,
  `original_interest_collected` decimal(15,2) DEFAULT NULL,
  `original_disbursement_date` datetime DEFAULT NULL,
  `snapshot_created_at` datetime NOT NULL,
  `snapshot_reason` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_snapshot_item` (`loan_id`),
  KEY `idx_snapshot_loan_id` (`loan_id`),
  CONSTRAINT `fk_snapshot_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=443 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_products` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `description` text COLLATE utf8mb4_general_ci,
  `interest_rate` decimal(5,2) NOT NULL,
  `max_amount` decimal(15,2) DEFAULT NULL,
  `min_amount` decimal(15,2) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `min_term_months` int DEFAULT '1',
  `max_term_months` int DEFAULT '12',
  `is_active` tinyint(1) DEFAULT '1',
  `max_total_borrowing_limit` decimal(19,2) DEFAULT NULL COMMENT 'Maximum cumulative amount a member can borrow on this product',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_loan_product_name` (`name`),
  KEY `idx_loan_product_borrowing_limit` (`max_total_borrowing_limit`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_repayment_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loan_id` bigint NOT NULL,
  `member_id` bigint NOT NULL,
  `amount` decimal(19,2) NOT NULL,
  `payment_method` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `proof_file_path` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `proof_file_name` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `description` text COLLATE utf8mb4_general_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `approved_at` timestamp NULL DEFAULT NULL,
  `approved_by` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `confirmed_amount` decimal(19,2) DEFAULT NULL,
  `rejection_reason` text COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id`),
  KEY `idx_status` (`status`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_loan_id` (`loan_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `loan_repayment_requests_ibfk_1` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`),
  CONSTRAINT `loan_repayment_requests_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Tracks bank transfer loan repayment requests pending teller approval';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_repayments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loan_id` bigint NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `repayment_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_by` bigint DEFAULT NULL,
  `payment_method` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_general_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `payment_date` datetime DEFAULT NULL,
  `reference_number` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `interest_amount` decimal(15,2) DEFAULT NULL,
  `principal_amount` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `idx_loan_repayments_loan_date` (`loan_id`,`repayment_date`),
  CONSTRAINT `loan_repayments_ibfk_1` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`),
  CONSTRAINT `loan_repayments_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=654 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_topup_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loan_id` bigint NOT NULL,
  `topup_amount` decimal(15,2) NOT NULL,
  `outstanding_before_topup` decimal(15,2) NOT NULL,
  `outstanding_after_topup` decimal(15,2) NOT NULL,
  `principal_paid_before_topup` decimal(15,2) NOT NULL,
  `new_guarantors_added` int DEFAULT '0',
  `topup_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `processed_by` bigint DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `fk_topup_user` (`processed_by`),
  KEY `idx_topup_history_loan` (`loan_id`),
  KEY `idx_topup_history_date` (`topup_date`),
  CONSTRAINT `fk_topup_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_topup_user` FOREIGN KEY (`processed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_topup_amount_positive` CHECK ((`topup_amount` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Audit trail of all loan top-up transactions showing before/after balances';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_topup_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loan_id` bigint NOT NULL,
  `member_id` bigint NOT NULL,
  `requested_amount` decimal(15,2) NOT NULL,
  `purpose` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING_GUARANTOR_APPROVAL',
  `requested_date` datetime NOT NULL,
  `reviewed_by` bigint DEFAULT NULL,
  `review_date` datetime DEFAULT NULL,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  `disbursed_by` bigint DEFAULT NULL,
  `disbursement_date` datetime DEFAULT NULL,
  `total_guarantee_amount` decimal(15,2) DEFAULT '0.00',
  `guarantor_approval_count` int DEFAULT '0',
  `guarantor_rejection_count` int DEFAULT '0',
  `all_guarantors_approved` tinyint(1) DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `approved_at` datetime DEFAULT NULL,
  `loan_officer_reviewed_at` datetime DEFAULT NULL,
  `credit_committee_reviewed_at` datetime DEFAULT NULL,
  `treasurer_reviewed_at` datetime DEFAULT NULL,
  `rejection_stage` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_topup_request_reviewed_by` (`reviewed_by`),
  KEY `fk_topup_request_disbursed_by` (`disbursed_by`),
  KEY `idx_topup_request_loan` (`loan_id`),
  KEY `idx_topup_request_member` (`member_id`),
  KEY `idx_topup_request_status` (`status`),
  KEY `idx_topup_request_date` (`requested_date`),
  CONSTRAINT `fk_topup_request_disbursed_by` FOREIGN KEY (`disbursed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_topup_request_loan` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_topup_request_member` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_topup_request_reviewed_by` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loans` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `loan_product_id` bigint NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `term_months` int DEFAULT NULL,
  `status` enum('PENDING','PENDING_GUARANTOR_APPROVAL','PENDING_GUARANTOR_REPLACEMENT','PENDING_GUARANTOR_REASSIGNMENT','PENDING_LOAN_OFFICER_REVIEW','PENDING_CREDIT_COMMITTEE','PENDING_TREASURER','APPROVED','REJECTED','DISBURSED','REPAID','DEFAULTED','ACTIVE') COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  `application_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `approval_date` timestamp NULL DEFAULT NULL,
  `disbursement_date` timestamp NULL DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `loan_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `monthly_repayment` decimal(15,2) DEFAULT NULL,
  `total_interest` decimal(15,2) DEFAULT NULL,
  `interest_collected` decimal(19,2) DEFAULT '0.00',
  `total_repayable` decimal(15,2) DEFAULT NULL,
  `outstanding_balance` decimal(15,2) DEFAULT NULL,
  `purpose` text COLLATE utf8mb4_general_ci,
  `rejection_reason` text COLLATE utf8mb4_general_ci,
  `member_eligibility_status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `member_eligibility_errors` text COLLATE utf8mb4_general_ci,
  `member_eligibility_warnings` text COLLATE utf8mb4_general_ci,
  `disbursed_by` bigint DEFAULT NULL,
  `self_guarantee` tinyint(1) DEFAULT '0',
  `migration_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'ACTIVE' COMMENT 'ACTIVE or MIGRATED',
  `original_principal` decimal(19,2) NOT NULL DEFAULT '0.00' COMMENT 'Original loan principal amount. Used for proportional guarantee calculations. Never changes after loan creation.',
  `original_amount` decimal(19,2) DEFAULT NULL,
  `rejection_stage` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `interest_remaining` decimal(19,2) DEFAULT NULL,
  `total_topup_amount` decimal(15,2) DEFAULT '0.00' COMMENT 'Cumulative sum of all top-up amounts added to this loan',
  `topup_count` int DEFAULT '0' COMMENT 'Number of times this loan has been topped up',
  `last_topup_date` timestamp NULL DEFAULT NULL COMMENT 'Timestamp of the most recent top-up transaction',
  `principal_before_topup` decimal(15,2) DEFAULT NULL COMMENT 'Principal amount before the last top-up (for audit trail)',
  `interest_collected_manual_override` tinyint(1) DEFAULT '0' COMMENT 'TRUE when treasurer manually set interestCollected, FALSE for automatic calculation from repayments',
  `principal_repaid` decimal(15,2) DEFAULT NULL COMMENT 'Manually set principal repaid amount (overrides calculated value)',
  `principal_repaid_manual_override` tinyint(1) DEFAULT '0' COMMENT 'TRUE when treasurer manually set principalRepaid, FALSE for automatic calculation',
  PRIMARY KEY (`id`),
  UNIQUE KEY `loan_number` (`loan_number`),
  KEY `loan_product_id` (`loan_product_id`),
  KEY `created_by` (`created_by`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_loan_number` (`loan_number`),
  KEY `idx_loans_disbursement_date` (`disbursement_date`),
  KEY `idx_loans_status` (`status`),
  KEY `idx_loans_disbursed_by` (`disbursed_by`),
  KEY `idx_loan_migration_status` (`migration_status`),
  KEY `idx_loan_status` (`status`),
  KEY `idx_loans_original_principal` (`original_principal`),
  KEY `idx_loans_status_rejection_stage` (`status`,`rejection_stage`),
  KEY `idx_loans_member_status` (`member_id`,`status`),
  KEY `idx_loans_topup_count` (`topup_count`),
  KEY `idx_loans_last_topup_date` (`last_topup_date`),
  KEY `idx_loans_member_id` (`member_id`),
  CONSTRAINT `fk_loans_disbursed_by` FOREIGN KEY (`disbursed_by`) REFERENCES `users` (`id`),
  CONSTRAINT `loans_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `loans_ibfk_2` FOREIGN KEY (`loan_product_id`) REFERENCES `loan_products` (`id`),
  CONSTRAINT `loans_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `loans_ibfk_4` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=474 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `login_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `device_id` bigint DEFAULT NULL,
  `username` varchar(100) DEFAULT NULL,
  `login_status` varchar(50) NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `device_fingerprint` varchar(255) DEFAULT NULL,
  `device_info` text,
  `location` varchar(255) DEFAULT NULL,
  `failure_reason` varchar(255) DEFAULT NULL,
  `login_timestamp` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `device_id` (`device_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_login_timestamp` (`login_timestamp`),
  KEY `idx_login_status` (`login_status`),
  CONSTRAINT `login_history_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `login_history_ibfk_2` FOREIGN KEY (`device_id`) REFERENCES `user_devices` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_credentials` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `member_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `has_national_id` tinyint(1) NOT NULL DEFAULT '0',
  `email_sent` tinyint(1) NOT NULL DEFAULT '0',
  `email_sent_at` timestamp NULL DEFAULT NULL,
  `password_changed` tinyint(1) NOT NULL DEFAULT '0',
  `password_changed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_by` bigint DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_member_credentials_member_id` (`member_id`),
  KEY `idx_member_credentials_username` (`username`),
  KEY `idx_member_credentials_email_sent` (`email_sent`),
  KEY `idx_member_credentials_password_changed` (`password_changed`),
  KEY `created_by` (`created_by`),
  KEY `idx_member_credentials_password` (`password`),
  CONSTRAINT `member_credentials_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `member_credentials_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=220 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Tracks member credential distribution and password setup status for admin visibility';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_exits` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `exit_reason` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'RETIREMENT, RESIGNATION, TERMINATION, DECEASED, OTHER',
  `initiated_by` bigint NOT NULL COMMENT 'User who initiated exit',
  `approved_by` bigint DEFAULT NULL COMMENT 'User who approved exit (Treasurer)',
  `savings_balance` decimal(19,2) DEFAULT NULL COMMENT 'Member savings at exit',
  `outstanding_loan` decimal(19,2) DEFAULT NULL COMMENT 'Outstanding loan balance',
  `loan_deduction` decimal(19,2) DEFAULT NULL COMMENT 'Amount deducted from savings to clear loan',
  `remaining_payout` decimal(19,2) DEFAULT NULL COMMENT 'Remaining savings after loan deduction',
  `shares_refund` decimal(19,2) DEFAULT '3000.00' COMMENT 'Shares refund (KES 3,000)',
  `total_payout` decimal(19,2) DEFAULT NULL COMMENT 'Total payout to member',
  `exit_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'Date member exited',
  `approved_at` timestamp NULL DEFAULT NULL COMMENT 'Date exit was approved',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `notes` longtext COLLATE utf8mb4_general_ci COMMENT 'Exit notes',
  `is_active_guarantor` tinyint(1) DEFAULT '0' COMMENT 'Whether member is active guarantor',
  `approval_notes` text COLLATE utf8mb4_general_ci,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `initiated_by` (`initiated_by`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_exit_reason` (`exit_reason`),
  KEY `idx_approved_by` (`approved_by`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `member_exits_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `member_exits_ibfk_2` FOREIGN KEY (`initiated_by`) REFERENCES `users` (`id`),
  CONSTRAINT `member_exits_ibfk_3` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Tracks member exits and payouts';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_reactivations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `reason` text COLLATE utf8mb4_general_ci NOT NULL,
  `initiated_by` bigint DEFAULT NULL,
  `initiated_at` datetime DEFAULT NULL,
  `validated_by` bigint DEFAULT NULL,
  `validated_at` datetime DEFAULT NULL,
  `validation_notes` text COLLATE utf8mb4_general_ci,
  `is_active` tinyint(1) DEFAULT '0',
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  PRIMARY KEY (`id`),
  KEY `initiated_by` (`initiated_by`),
  KEY `validated_by` (`validated_by`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `member_reactivations_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `member_reactivations_ibfk_2` FOREIGN KEY (`initiated_by`) REFERENCES `users` (`id`),
  CONSTRAINT `member_reactivations_ibfk_3` FOREIGN KEY (`validated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_suspensions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `reason` longtext COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Reason for suspension',
  `suspended_by` bigint NOT NULL COMMENT 'User who suspended',
  `suspended_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `lifted_by` bigint DEFAULT NULL COMMENT 'User who lifted suspension',
  `lifted_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1' COMMENT 'Whether suspension is currently active',
  `validated_by` bigint DEFAULT NULL,
  `validation_notes` text COLLATE utf8mb4_general_ci,
  `validated_at` timestamp NULL DEFAULT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  PRIMARY KEY (`id`),
  KEY `suspended_by` (`suspended_by`),
  KEY `lifted_by` (`lifted_by`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_is_active` (`is_active`),
  KEY `idx_suspended_at` (`suspended_at`),
  KEY `fk_suspension_validated_by` (`validated_by`),
  CONSTRAINT `fk_suspension_validated_by` FOREIGN KEY (`validated_by`) REFERENCES `users` (`id`),
  CONSTRAINT `member_suspensions_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `member_suspensions_ibfk_2` FOREIGN KEY (`suspended_by`) REFERENCES `users` (`id`),
  CONSTRAINT `member_suspensions_ibfk_3` FOREIGN KEY (`lifted_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Tracks member suspensions';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `members` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_number` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `first_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `full_name` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `phone` varchar(15) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `national_id` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `employment_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `employer` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `department` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` enum('PENDING','APPROVED','ACTIVE','DORMANT','SUSPENDED','REJECTED','EXITED') COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  `kyc_completion_status` enum('INCOMPLETE','COMPLETE','VERIFIED') COLLATE utf8mb4_general_ci DEFAULT 'INCOMPLETE',
  `kyc_completed_at` timestamp NULL DEFAULT NULL,
  `kyc_verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `id_document_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `photo_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `application_letter_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `kra_pin_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `bank_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `bank_account_number` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `bank_branch` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `next_of_kin_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `next_of_kin_phone` varchar(15) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `next_of_kin_relationship` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `exit_date` timestamp NULL DEFAULT NULL,
  `exit_reason` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `employee_id` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `consecutive_months_counter` int DEFAULT '0' COMMENT 'Consecutive months contributed for eligibility',
  `migration_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'ACTIVE' COMMENT 'ACTIVE or MIGRATED',
  `is_legacy_member` tinyint(1) DEFAULT '0' COMMENT 'True if member joined before go-live',
  `exited_by` bigint DEFAULT NULL COMMENT 'User ID who marked member as exited',
  `exit_notes` text COLLATE utf8mb4_general_ci COMMENT 'Additional notes about the exit',
  PRIMARY KEY (`id`),
  UNIQUE KEY `member_number` (`member_number`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `national_id` (`national_id`),
  UNIQUE KEY `member_number_2` (`member_number`),
  UNIQUE KEY `uq_members_employee_id` (`employee_id`),
  KEY `idx_members_exit_date` (`exit_date`),
  KEY `idx_members_status_exit` (`status`,`exit_date`),
  KEY `idx_kyc_completion_status` (`kyc_completion_status`),
  KEY `idx_kyc_completed_at` (`kyc_completed_at`),
  KEY `idx_member_migration_status` (`migration_status`),
  KEY `idx_members_employee_id` (`employee_id`),
  KEY `idx_members_full_name` (`full_name`)
) ENGINE=InnoDB AUTO_INCREMENT=478 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `members_legacy_view` AS SELECT 
 1 AS `id`,
 1 AS `member_number`,
 1 AS `employee_id`,
 1 AS `first_name`,
 1 AS `last_name`,
 1 AS `full_name`,
 1 AS `email`,
 1 AS `phone`,
 1 AS `national_id`,
 1 AS `date_of_birth`,
 1 AS `employment_status`,
 1 AS `employer`,
 1 AS `department`,
 1 AS `status`,
 1 AS `kyc_completion_status`,
 1 AS `kyc_completed_at`,
 1 AS `kyc_verified_at`,
 1 AS `id_document_path`,
 1 AS `photo_path`,
 1 AS `application_letter_path`,
 1 AS `kra_pin_path`,
 1 AS `bank_name`,
 1 AS `bank_account_number`,
 1 AS `bank_branch`,
 1 AS `next_of_kin_name`,
 1 AS `next_of_kin_phone`,
 1 AS `next_of_kin_relationship`,
 1 AS `created_by`,
 1 AS `approved_by`,
 1 AS `approved_at`,
 1 AS `rejection_reason`,
 1 AS `exit_date`,
 1 AS `exit_reason`,
 1 AS `consecutive_months_counter`,
 1 AS `migration_status`,
 1 AS `is_legacy_member`,
 1 AS `created_at`,
 1 AS `updated_at`*/;
SET character_set_client = @saved_cs_client;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migration_batches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `total_records` int DEFAULT '0',
  `successful_records` int DEFAULT '0',
  `failed_records` int DEFAULT '0',
  `verification_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'PENDING' COMMENT 'PENDING, VERIFIED, FAILED',
  `created_by` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `migration_executed` tinyint(1) DEFAULT '0',
  `executed_at` timestamp NULL DEFAULT NULL,
  `error_message` longtext COLLATE utf8mb4_general_ci,
  `uploaded_by` bigint DEFAULT NULL COMMENT 'User who uploaded the file (Treasurer)',
  `uploaded_at` timestamp NULL DEFAULT NULL,
  `verified_by` bigint DEFAULT NULL COMMENT 'User who verified the file (Admin)',
  `verified_at` timestamp NULL DEFAULT NULL,
  `verification_notes` longtext COLLATE utf8mb4_general_ci COMMENT 'Admin verification notes',
  `approval_status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'PENDING' COMMENT 'PENDING, APPROVED, REJECTED',
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_batch_date` (`batch_date`),
  KEY `idx_verification_status` (`verification_status`),
  KEY `idx_approval_status` (`approval_status`),
  KEY `idx_migration_executed` (`migration_executed`),
  CONSTRAINT `migration_batches_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `migration_batches_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`),
  CONSTRAINT `migration_batches_ibfk_3` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Tracks data migration batches with maker-checker workflow';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint DEFAULT NULL,
  `type` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `target_role` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `message` text COLLATE utf8mb4_general_ci NOT NULL,
  `status` enum('PENDING','SENT','FAILED') COLLATE utf8mb4_general_ci DEFAULT 'PENDING',
  `sent_at` timestamp NULL DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `user_id` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `category` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `deposit_request_id` bigint DEFAULT NULL,
  `guarantor_id` bigint DEFAULT NULL,
  `loan_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `member_id` (`member_id`),
  KEY `idx_notifications_user_id` (`user_id`),
  KEY `idx_notifications_created_at` (`created_at`),
  KEY `idx_notifications_user_role` (`user_id`,`target_role`),
  KEY `idx_notifications_user` (`user_id`),
  CONSTRAINT `fk_notifications_user_id` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3460 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `push_subscriptions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `endpoint` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `p256dh_key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `auth_key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_agent` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_endpoint` (`user_id`,`endpoint`),
  KEY `idx_user_active` (`user_id`,`is_active`),
  KEY `idx_last_used` (`last_used_at`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `fk_push_subscription_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Stores Web Push notification subscriptions for PWA functionality';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_tickets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `member_id` bigint NOT NULL,
  `created_by` bigint NOT NULL,
  `subject` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_general_ci NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'OPEN',
  `priority` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'MEDIUM',
  `resolution` longtext COLLATE utf8mb4_general_ci,
  `resolved_by` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `resolved_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `resolved_by` (`resolved_by`),
  KEY `idx_member_id` (`member_id`),
  KEY `idx_created_by` (`created_by`),
  KEY `idx_status` (`status`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `support_tickets_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `support_tickets_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `support_tickets_ibfk_3` FOREIGN KEY (`resolved_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Unique setting identifier',
  `setting_value` varchar(255) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Setting value',
  `setting_type` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Type: INTEGER, DECIMAL, BOOLEAN, STRING',
  `description` longtext COLLATE utf8mb4_general_ci COMMENT 'Setting description',
  `updated_by` bigint DEFAULT NULL COMMENT 'User who last updated',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `updated_by` (`updated_by`),
  KEY `idx_setting_key` (`setting_key`),
  KEY `idx_updated_at` (`updated_at`),
  CONSTRAINT `system_settings_ibfk_1` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='System-wide configurable settings';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `topup_guarantors` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `topup_request_id` bigint NOT NULL,
  `member_id` bigint NOT NULL,
  `guarantee_amount` decimal(15,2) NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `requested_date` datetime NOT NULL,
  `approved_at` datetime DEFAULT NULL,
  `rejected_at` datetime DEFAULT NULL,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  `pledge_amount` decimal(15,2) DEFAULT '0.00',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `next_of_kin_guarantor_id` bigint DEFAULT NULL COMMENT 'Reference to the NOK guarantor for this primary guarantor',
  `is_next_of_kin` tinyint(1) DEFAULT '0' COMMENT 'True if this is a next of kin (backup) guarantor',
  `primary_guarantor_id` bigint DEFAULT NULL COMMENT 'Reference to the primary guarantor this NOK is backing',
  `replaced_at` datetime DEFAULT NULL COMMENT 'When this guarantor was replaced',
  `replaced_by_guarantor_id` bigint DEFAULT NULL COMMENT 'ID of guarantor who replaced this one',
  `replacement_reason` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Reason for replacement',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_topup_guarantor_unique` (`topup_request_id`,`member_id`),
  KEY `idx_topup_guarantor_request` (`topup_request_id`),
  KEY `idx_topup_guarantor_member` (`member_id`),
  KEY `idx_topup_guarantor_status` (`status`),
  KEY `idx_topup_guarantor_date` (`requested_date`),
  KEY `idx_topup_guarantors_next_of_kin` (`next_of_kin_guarantor_id`),
  KEY `idx_topup_guarantors_primary` (`primary_guarantor_id`),
  KEY `idx_topup_guarantors_is_nok` (`is_next_of_kin`),
  KEY `idx_topup_guarantors_replaced_at` (`replaced_at`),
  CONSTRAINT `fk_topup_guarantor_member` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_topup_guarantor_next_of_kin` FOREIGN KEY (`next_of_kin_guarantor_id`) REFERENCES `topup_guarantors` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_topup_guarantor_primary` FOREIGN KEY (`primary_guarantor_id`) REFERENCES `topup_guarantors` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_topup_guarantor_request` FOREIGN KEY (`topup_request_id`) REFERENCES `loan_topup_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `account_id` bigint NOT NULL,
  `transaction_type` enum('DEPOSIT','WITHDRAWAL','LOAN_DISBURSEMENT','LOAN_REPAYMENT','INTEREST') COLLATE utf8mb4_general_ci NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `transaction_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_by` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `idx_transactions_account_date` (`account_id`,`transaction_date`),
  KEY `idx_transactions_account_id` (`account_id`),
  CONSTRAINT `transactions_ibfk_1` FOREIGN KEY (`account_id`) REFERENCES `accounts` (`id`),
  CONSTRAINT `transactions_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3967 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_activity_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `action` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `details` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `user_activity_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Audit trail for user activities and actions';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_deletion_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `requested_by` bigint NOT NULL,
  `reason` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'PENDING',
  `approved_by` bigint DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejected_reason` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `requested_by` (`requested_by`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_deletion_requests_status` (`status`),
  KEY `idx_deletion_requests_user_id` (`user_id`),
  CONSTRAINT `user_deletion_requests_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_deletion_requests_ibfk_2` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_deletion_requests_ibfk_3` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_status` CHECK ((`status` in (_utf8mb3'PENDING',_utf8mb3'APPROVED',_utf8mb3'REJECTED')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_devices` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `device_fingerprint` varchar(255) NOT NULL,
  `device_name` varchar(255) DEFAULT NULL,
  `device_type` varchar(100) DEFAULT NULL,
  `browser` varchar(100) DEFAULT NULL,
  `operating_system` varchar(100) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `is_trusted` tinyint(1) DEFAULT '0',
  `first_login_at` datetime NOT NULL,
  `last_login_at` datetime NOT NULL,
  `login_count` int DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_device` (`user_id`,`device_fingerprint`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_device_fingerprint` (`device_fingerprint`),
  KEY `idx_last_login` (`last_login_at`),
  CONSTRAINT `user_devices_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `role` enum('ADMIN','TREASURER','LOAN_OFFICER','CREDIT_COMMITTEE','AUDITOR','TELLER','CUSTOMER_SUPPORT','MEMBER','HR_STAFF') COLLATE utf8mb4_general_ci DEFAULT NULL,
  `enabled` tinyint(1) DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` bigint DEFAULT NULL,
  `member_id` bigint DEFAULT NULL,
  `first_login` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Indicates if user needs to set up password on first login',
  `first_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_created_by` (`created_by`),
  KEY `fk_users_member_id` (`member_id`),
  KEY `idx_users_username` (`username`),
  CONSTRAINT `fk_users_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_users_member_id` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=480 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50001 DROP VIEW IF EXISTS `members_legacy_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`tminet`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `members_legacy_view` AS select `members`.`id` AS `id`,`members`.`member_number` AS `member_number`,`members`.`employee_id` AS `employee_id`,`members`.`full_name` AS `first_name`,'' AS `last_name`,`members`.`full_name` AS `full_name`,`members`.`email` AS `email`,`members`.`phone` AS `phone`,`members`.`national_id` AS `national_id`,`members`.`date_of_birth` AS `date_of_birth`,`members`.`employment_status` AS `employment_status`,`members`.`employer` AS `employer`,`members`.`department` AS `department`,`members`.`status` AS `status`,`members`.`kyc_completion_status` AS `kyc_completion_status`,`members`.`kyc_completed_at` AS `kyc_completed_at`,`members`.`kyc_verified_at` AS `kyc_verified_at`,`members`.`id_document_path` AS `id_document_path`,`members`.`photo_path` AS `photo_path`,`members`.`application_letter_path` AS `application_letter_path`,`members`.`kra_pin_path` AS `kra_pin_path`,`members`.`bank_name` AS `bank_name`,`members`.`bank_account_number` AS `bank_account_number`,`members`.`bank_branch` AS `bank_branch`,`members`.`next_of_kin_name` AS `next_of_kin_name`,`members`.`next_of_kin_phone` AS `next_of_kin_phone`,`members`.`next_of_kin_relationship` AS `next_of_kin_relationship`,`members`.`created_by` AS `created_by`,`members`.`approved_by` AS `approved_by`,`members`.`approved_at` AS `approved_at`,`members`.`rejection_reason` AS `rejection_reason`,`members`.`exit_date` AS `exit_date`,`members`.`exit_reason` AS `exit_reason`,`members`.`consecutive_months_counter` AS `consecutive_months_counter`,`members`.`migration_status` AS `migration_status`,`members`.`is_legacy_member` AS `is_legacy_member`,`members`.`created_at` AS `created_at`,`members`.`updated_at` AS `updated_at` from `members` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

